<router-outlet />

<ul>
  <li><a class="nav-link" routerLink="registration">Marriage Registration</a></li>
  <li><a  class="nav-link" routerLink="registration-statistics">Registration Statistics</a></li>
  <li><a  class="nav-link" routerLink="registration">Marriage Registration</a></li>
  <li><a  class="nav-link" routerLink="registration">Marriage Registration</a></li>
  <li><a  class="nav-link" routerLink="registration">Marriage Registration</a></li>
  <li><a  class="nav-link" routerLink="registration">Marriage Registration</a></li>
</ul>
